@model IMDb3._0.Models.TVSeries

@{
    ViewBag.Title = Model.Title + " (" + Model.ReleaseDate.Year + ") ";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title) <span> (@Html.DisplayFor(model => model.ReleaseDate.Year))</span>
        </dd>

        <dt>
        </dt>

        <dd>

            <img class="details-poster-img" src="@Html.DisplayFor(model => model.PosterUlr)" alt="Alternate Text" />
        </dd>
        <br />
        <dt>
            Release Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate.Year)
        </dd>

        <dt>
            Genre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            Seasons:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberSeasons)
        </dd>

    </dl>
    <div>
        <hr />

        <h3>Cast:</h3>

        @foreach (var item in Model.Actors)
        {
            if (item.TVSeriesID == this.Model.TVSeriesID)
            {
                <table class="table">
                    <tr>
                        <th>
                            Picture
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Link
                        </th>
                        <th></th>
                    </tr>
                        <tr>
                            <td>
                                <img class="index-poster-img" src="@Html.DisplayFor(modelItem => item.PictureUrl)" alt="Alternate Text" />                           
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            
                            <td>
                                <a class="shows" href="@Html.DisplayFor(modelItem => item.LinkUrl)">IMDb-Link...</a>
                            </td>
                         
                        </tr>
                </table>
            }
        }</div>
    </div>
<p style="text-align:center">
    @if (User.Identity.Name == "adminn69@gmail.com")
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.TVSeriesID })        <span> | </span>
    }
    <strong>@Html.ActionLink("Back to List", "Index", null, new { @class = "shows" })</strong>
</p>

