@model IEnumerable<IMDb3._0.Models.TVSeries>

@{
    ViewBag.Title = "TVSeries";
}

<h2>TVSeries</h2>
<hr />
    @if (User.Identity.Name == "adminn69@gmail.com")
        {       
        <p>
        @Html.ActionLink("Create New", "Create")
        </p>
    }
<div class="roww">

</div>
@*<a class="movie" href="@Url.Action("Details", "TVSeries", new { id = item.TVSeriesID })">
</a>*@
    @foreach (var item in Model)
    {
        <a class="movie" href="@Url.Action("Details", "TVSeries", new { id = item.TVSeriesID })">
            <div class="movie">
                <table class="table">

                    <tr>
                        <td>
                            <img class="index-poster-img" src="@Html.DisplayFor(modelItem => item.PosterUlr)" alt="Alternate Text" />
                        </td>
                        <td>
                            <strong>Title: </strong> @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <strong>Release Date: </strong> @Html.DisplayFor(modelItem => item.ReleaseDate.Year)
                        </td>
                        <td>
                            <strong>Genre: </strong> @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            <strong>Seasons:</strong> @Html.DisplayFor(modelItem => item.NumberSeasons)
                        </td>
                        @if (User.Identity.Name == "adminn69@gmail.com")
                        {
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { id = item.TVSeriesID })<span> |</span>
                                @Html.ActionLink("Delete", "Delete", new { id = item.TVSeriesID })
                            </td>
                        }

                    </tr>
                </table>
            </div>
        </a>
    }
