@model IMDb3._0.Models.Actors

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Picture
        </dt>
        <dd>
            <img class="details-poster-img" src="@Html.DisplayFor(model => model.PictureUrl)" alt="Alternate Text" />
        </dd>
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Link
        </dt>

        <dd>
            
            <a href="@Html.DisplayFor(model => model.LinkUrl)">Link for IMDb...</a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActorsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
