@model IMDb3._0.Models.Actors

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Picture:
        </dt>
        <dd>
            <img class="details-poster-img" src="@Html.DisplayFor(model => model.PictureUrl)" alt="Alternate Text" />
        </dd>
        <br />
        <dt>
            First Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Link to IMDb:
        </dt>

        <dd>
            
            <a class="shows" href="@Html.DisplayFor(model => model.LinkUrl)">Link for IMDb...</a>
        </dd>
        <dt>
            TV Series:
        </dt>

        <dd>
            <a class="shows" href="@Url.Action("Details", "TVSeries", new { id = Model.TVSeries.TVSeriesID }))"> @Html.DisplayFor(model => model.TVSeries.Title)</a>
        </dd>
    </dl>
</div>
<p style="text-align:center">
    @if (User.Identity.Name == "adminn69@gmail.com")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ActorsID })        <span> | </span>
    }
    <strong>@Html.ActionLink("Back to List", "Index", null, new { @class = "shows"})</strong>
</p>
